.venv

# Build outputs and intermediate files
lm10.db
lm10.db.zip
filer.csv
filing.jl
filing.json
filing.csv
form.json
form.csv
form.*.csv
raw_filing.csv
lm10.csv
activity.csv
expenditure.csv
counterparty_contact.csv
counterparty_organization.csv
other_address.csv
principal_officer.csv
reportable_activity.csv
reporting_employer.csv
signature.csv
organization.csv
new_filing.jl
new_organization.csv
sr_nums.txt
reports/
.scrapy/
